<?xml version="1.0"?>
<!--
/**
 * @author Plumslice Team
 * @copyright Copyright (c) 2016 Plumslice (http://www.plumslice.com)
 * @package Plumslice_Api
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Magento/Store/etc/config.xsd">
    <default>
        <plumslice_api>
            <general>
                <enable>1</enable>
            </general>
        </plumslice_api>
    </default>
</config>
